__pycache__
bin
lib
research_
share
slides_figs
zenodo_data.zip
average_energy_calculations.ipynb
final_beta_decay_rate.ipynb
for_testing.ipynb
testing_kb_vs_thermal.ipynb
python_extrapolation_error.ipynb
datasets
cluster_template
include
predict_template
slides_figs
figures_manuscript
iterations.txt
for_testing.ipynb
predictor_corrector_noparallel.jl
example.h5
pull_data.sh
names.txt
figures_for_slides.ipynb
quench_metrics.py
final_beta_decay_rate.ipynb
npy_to_h5.py
python_extrapolation_error.ipynb
average_energy_calculations.ipynb
